<div class = "container">
    <form [formGroup]="formulario" (ngSubmit)="salvarContato()">
    <label for = "nome">Nome:</label>
        <input type="text" id="nome" placeholder="Digite o nome do contato" formControlName="nome">
    @if(formulario.get('nome')?.errors && formulario.get('nome')?.touched){
        <div>Campo obrigatório</div>
    }

    <label for = "nome">Aniversario:</label>
        <input type="date" id="aniversario" placeholder="Digite o nome do contato" formControlName="aniversario">
    

        
        <label for = "telefone">Numero:</label>
        <input type="text" id="numero" placeholder="Digite o telefone" formControlName="telefone">
        @if(formulario.get('telefone')?.errors && formulario.get('telefone')?.touched){
            <div>Campo obrigatório</div>
        }

    <label for = "nome">Email:</label>
        <input type="text" id="email" placeholder="Digite o email" formControlName="email">
        @if(formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched){
            <div>Campo obrigatório</div>
        }
        @if(formulario.get('email')?.errors?.['email'] && formulario.get('email')?.touched){
            <div>Email no formato inválido</div>
        }


    <label for = "nome">Redes Sociais:</label>
        <input type="text" id="nome" placeholder="Digite o nome do contato" formControlName="redes">
    

    <textarea>Area de texto</textarea>

<button 
[disabled]="formulario.invalid"
type="submit">Salvar</button>
<button (click)="cancelar()" type = "button">Cancelar</button>

</form>

</div>